:root {
  --primary-red: #cd0909;
  --primary-brown: #e0dbd4;
  --primary-brown-contrast: #cec7b5;
  --primary-complimentary-brown: #ebe4d5;
  --primary-black: #000000;
  --primary-white: #ffffff;
}

*{
  padding: 0;
  margin: 0;
}
body{
  background: var(--primary-brown);
  font-family: 'Rubik Mono One', sans-serif;
  position: relative;
  overflow-x: hidden;
}
img{
  border: none;
  outline:none;
}
ul{
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
p, li, a, span{}
p{
  font-size: 16px;
  margin-bottom: 15px;
}
a, a:hover{
  text-decoration: none;
}
a:focus{
  outline: 0;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #9e8a78;
}

::selection {
  background-color: #9e8a78;
  color: #fff
}

::-moz-selection {
  background-color: #9e8a78;
  color: #fff
}